* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  color: white;
}

body {
  background: #101010;
}

.logo {
  width: 70px;
  height: auto;
  border-radius: 100%;
}

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#myLinks {
  padding-top: 6%;
}

#myLinks > a {
  text-align: center;
  font-size: 2rem;
  color: gray;
}

#myLinks > a:hover {
  color: white;
  transition: all 0.25s ease-in-out;
}

.container {
  padding: 1% 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading > h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.heading > h1 > strong {
  color: #c70039;
}

.heading > p {
  font-size: 1.2rem;
}

.heading > p > strong {
  color: #c70039;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.secondary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
}

.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left > h2 {
  font-size: 2.2rem;
}

.left > h2 > strong {
  color: #c70039;
}

.left > p {
  font-weight: bold;
  color: lightgray;
  width: 100%;
  margin-top: 10%;
}

.cv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.cv > a {
  display: flex;
  justify-content: center;
  background: #c70039;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  padding: 2%;
  width: 30%;
  text-decoration: none;
  border-radius: 6px;
}

.right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.right > img {
  width: 95%;
  border-radius: 8px;
}

.myServices {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
}

.myServices > h1 {
  font-size: 3rem;
}

.myServices > h1 > strong {
  color: #c70039;
}

.servicesContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

.web,
.software,
.creativeDesign {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #191919;
  border: none;
  border-radius: 5%;
  padding: 2% 2% 8% 2%;
  margin-right: 1%;
  margin-left: 1%;
  animation: opacity 1.4s ease;
  transition: all 0.6s ease;
}

.weblogo,
.softwarelogo,
.designlogo {
  width: 20%;
  background: #c70039;
  padding: 6% 4% 4% 4%;
  border: none;
  border-radius: 30%;
}

.web:hover,
.software:hover,
.creativeDesign:hover {
  background: #c70039;
}

.weblogo > img,
.softwarelogo > img,
.designlogo > img {
  width: 80%;
}

.webtext > h2,
.softwaretext > h2,
.designtext > h2 {
  width: 100%;
  margin-top: 10%;
}

.webtext > p,
.softwaretext > p,
.designtext > p {
  width: 100%;
  margin-top: 5%;
}


::-webkit-scrollbar {
  width: 4px;
  color: #c70039;
  transition: all 0.4s ease;
}

::-webkit-scrollbar-thumb {
  background: #c70039;
  border-radius: 4px;
  width: 4px;
  transition: all 0.4s ease;
}

::-webkit-scrollbar-track {
  background: #101010;
  border-radius: 4px;
  width: 4px;
}
.mySkills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mySkills > h1 {
  font-size: 3rem;
  margin-top: 5%;
}
.mySkills > h1 > strong {
  color: #c70039;
}

.skillsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4%;
}

.leftcontainer p, .rightcontainer p{
  margin-bottom: 1%;
}

.leftcontainer progress, .rightcontainer progress{
  margin-bottom: 5%;
}

.leftcontainer,
.rightcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

progress {
  border: none;
   width: 90%;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
}

progress::-webkit-progress-value {
  background: #c70039;
  border-radius: 6px;
  color: white;
  
}

progress::-webkit-progress-bar {
  background: #191919;
  border-radius: 6px;
  color: white;
  padding: 3px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  margin-top: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1.2rem;
}
